
.p {
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
    .thumbnail {
      width: 100%;
    }
    .search-bar {
      display: block;
    }

    .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
    .video-title {
      margin-top: 0px;
      font-size: 14px;
      font-weight: 500 ;
      line-height: 20px;
      margin-bottom: 12px;
    } 

    .video-preview {

    }
  .thumbnail-row{
    margin-bottom: 12px
  }
  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }
  .profile-picture {
    width: 40px;
    border-radius: 50px;
  }
  .thumbnail-row {
    margin-bottom: 10px;
  }
  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }
  .video-author{
    margin-bottom: 4px;
  }
  
  